@font-face {
  font-family: 'NokiaPureText';
  font-style: normal;
  font-weight: normal;
  src: url('https://cdn.jsdelivr.net/gh/hellt/fonts@v0.1.0/nokia/NokiaPureText_Lt.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/hellt/fonts@v0.1.0/nokia/NokiaPureText_Lt.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'NokiaPureText';
  font-style: normal;
  font-weight: bold;
  src: url('https://cdn.jsdelivr.net/gh/hellt/fonts@v0.1.0/nokia/NokiaPureText_Bd.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/hellt/fonts@v0.1.0/nokia/NokiaPureText_Bd.woff') format('woff');
  font-display: swap;
}
